<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menu-style.css">
    <title>MyPhoneApp</title>
</head>
<body>

    <div class="my-phone-device">
        <div class="phone-screen">
            <!-- Меню телефона -->
            <div id="current-time">
                <!-- Здесь будет отображаться текущее время -->
            </div>
            <div id="current-date">
                <!-- Здесь будет отображаться текущая дата -->
            </div>
            <div class="menu-type">Вызовы</div>
            <ul id="button-list">
                <li><button class="list-button">Непринятные</button></li>
                <li><button class="list-button">Принятые</button></li>
                <li><button class="list-button">Набранные</button></li>
                <li><button class="list-button">Удалить всё</button></li>

            </ul>
            <div class="down-screen-buttons">
                <span class="left">Меню</span>
                <span class="right">Назад</span>
            </div>
        </div>
        <div class="phone-button-area">
            <!-- Специальные кнопки наверху -->
            <div class="phone-button-line"> 
                <button class="phone-button special-button menu-button" onclick="redirectToMenu()">-</button>
                <button class="phone-button special-button left-right-button up-down-button up-button">▲</button>
                <button class="phone-button special-button ok-button">Ок</button>
                <button class="phone-button special-button left-right-button up-down-button down-button">▼</button>
                <button class="phone-button special-button menu-button" onclick="goBack()">-</button>
            </div>
             <div class="phone-button-line call-line">
                <button class="phone-button special-button call-button" onclick="redirectToDealNumber()">
                    <img src="../static/img/call-ico.png" height="20px">
                </button>
                <button class="phone-button special-button cancel-call-button" onclick="cancelCall()">
                    <img src="../static/img/cancel-call-ico.png" height="23px">
                </button>
             </div>
            <!-- Остальные кнопки -->
            <div class="phone-button-line"> 
                <button class="phone-button">
                    <span class="first-line">1</span>
                    <span class="second-line"></span>
                </button>
                <button class="phone-button">
                    <span class="first-line">2</span>
                    <span class="second-line">абвг</span>
                </button>
                <button class="phone-button">
                    <span class="first-line">3</span>
                    <span class="second-line">дежз</span>
                </button>
            </div>
            <div class="phone-button-line">
                <button class="phone-button">
                    <span class="first-line">4</span>
                    <span class="second-line">ийкл</span>
                </button>
                <button class="phone-button">
                    <span class="first-line">5</span>
                    <span class="second-line">мноп</span>
                </button>
                <button class="phone-button">
                    <span class="first-line">6</span>
                    <span class="second-line">рсту</span>
                </button>
            </div>
            <div class="phone-button-line">
                <button class="phone-button">
                    <span class="first-line">7</span>
                    <span class="second-line">фхцч</span>
                </button>
                <button class="phone-button">
                    <span class="first-line">8</span>
                    <span class="second-line">шщъы</span>
                </button>
                <button class="phone-button">
                    <span class="first-line">9</span>
                    <span class="second-line">ьэюя</span>
                </button>
            </div>
            <div class="phone-button-line">
                <button class="phone-button">
                    <span class="first-line">*</span>
                    <span class="second-line">.</span>
                </button>
                <button class="phone-button">
                    <span class="first-line">0</span>
                    <span class="second-line">_</span>
                </button>
                <button class="phone-button">
                    <span class="first-line">#</span>
                    <span class="second-line"></span>
                </button>
            </div>
        </div>
    </div>
    <script src="../static/js/menu-script.js"></script>
    
</body>
</html>
