<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menu-style.css">
    <title>MyPhoneApp</title>
</head>
<body>

    <div class="my-phone-device">
        <div class="phone-screen">
            <!-- Меню телефона -->
            <div id="current-time">
                <!-- Здесь будет отображаться текущее время -->
            </div>
            <div id="current-date">
                <!-- Здесь будет отображаться текущая дата -->
            </div>
            <div class="menu-type">Основное меню</div>
            <ul id="button-list">
                <li><button class="list-button" onclick="redirectToPhoneBook()">Телефонная книга</button></li>
                <li><button class="list-button" onclick="redirectToCalls()">Вызовы</button></li>
                <li><button class="list-button" onclick="redirectToWorkWithInformation()">Работа с информацией</button></li>
                <li><button class="list-button" onclick="redirectToService()">Сервис</button></li>
                <li><button class="list-button" onclick="redirectToNetworkSelection()">Выбор сети</button></li>
                <li><button class="list-button" onclick="redirectToServiceMenu()">Служебное меню</button></li>

            </ul>
        </div>
        <div class="phone-button-area">
            <!-- Специальные кнопки наверху -->
            <div class="phone-button-line"> 
                <button class="phone-button special-button">Меню</button>
                <button class="phone-button special-button left-right-button up-down-button up-button">▲</button>
                <button class="phone-button special-button ok-button">Ок</button>
                <button class="phone-button special-button left-right-button up-down-button down-button">▼</button>
                <button class="phone-button special-button" onclick="goBack()">Назад</button>
            </div>
            <!-- Остальные кнопки -->
            <div class="phone-button-line"> 
                <button class="phone-button">1</button>
                <button class="phone-button">2</button>
                <button class="phone-button">3</button>
            </div>
            <div class="phone-button-line">
                <button class="phone-button">4</button>
                <button class="phone-button">5</button>
                <button class="phone-button">6</button>
            </div>
            <div class="phone-button-line">
                <button class="phone-button">7</button>
                <button class="phone-button">8</button>
                <button class="phone-button">9</button>
            </div>
            <div class="phone-button-line">
                <button class="phone-button">*</button>
                <button class="phone-button">0</button>
                <button class="phone-button">#</button>
            </div>
        </div>
    </div>
    <script src="../static/js/menu-script.js"></script>
    
</body>
</html>
